venv/

.pytest_cache/
src/tests/.pytest_cache/

infrastructure/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

infrastructure/modules/*.zip

# Ignorar tudo dentro de src/
src/*

# Exceto a pasta tests e todo conteúdo dela
!src/tests/
!src/tests/**

# Exceto arquivos .py, .json e .txt em qualquer subpasta dentro de src/
!src/**/*.py
!src/**/*.json
!src/**/*.txt

__pycache__/
*.py[cod]
*.log
*.coverage
*.egg-info/
*.swp

.vscode/
