venv/

.pytest_cache/
src/tests/.pytest_cache/

infrastructure/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

infrastructure/modules/*.zip

src/*

!src/tests/
!src/tests/**

!src/**/*.py
!src/**/*.json
!src/**/*.txt

__pycache__/
*.py[cod]
*.log
*.coverage
*.egg-info/
*.swp

.vscode/
