aioboto3==14.3.0
aiobotocore==2.22.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aioitertools==0.12.0
aiosignal==1.3.2
attrs==25.3.0
boto3==1.37.3
botocore==1.37.3
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
coverage==7.8.0
cryptography==44.0.3
docker==7.1.0
frozenlist==1.6.0
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
jmespath==1.0.1
MarkupSafe==3.0.2
moto==5.1.4
multidict==6.4.3
packaging==25.0
pluggy==1.6.0
propcache==0.3.1
py-partiql-parser==0.6.1
pycparser==2.22
pytest==8.3.5
pytest-cov==6.1.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
responses==0.25.7
s3transfer==0.11.3
six==1.17.0
urllib3==2.4.0
Werkzeug==3.1.3
wrapt==1.17.2
xmltodict==0.14.2
yarl==1.20.0
